<!DOCTYPE html>
<html>
<head>
    <title>Finance Tracker</title>
</head>
<body>
    <h1>Finance Tracker</h1>
    
    <h2>All Transactions</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
        {% for t in transactions %}
        <tr>
            <td>{{ t[0] }}</td>
            <td>{{ t[1] }}</td>
            <td>{{ t[2] }}</td>
            <td>{{ t[3] }}</td>
            <td>{{ t[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>